[submodule "libs/git/dotbot"]
	path = libs/git/dotbot
	url = https://github.com/anishathalye/dotbot
    ignore = dirty
[submodule "libs/git/zsh-syntax-highlighting"]
	path = libs/git/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "libs/git/ohmyzsh"]
	path = libs/git/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "libs/git/zsh-autosuggestions"]
	path = libs/git/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "libs/git/fast-syntax-highlighting"]
	path = libs/git/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
