[Unit]
Description=Xbox Hotplug Service  

[Service]
Type=oneshot
Environment="ACTION=add"
ExecStart=/usr/local/bin/libvirt-usb-auto.sh %I wither

[Install]
WantedBy=multi-user.target
